<ion-header [translucent]="true">
  <ion-toolbar>
 <app-explore-container name="Dynamic Component"></app-explore-container>
 </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-card class="card">
  <ion-header>
    <ion-button color="success" (click)="signUp()" > Sign Up</ion-button>
    <ion-button color="success" (click)="logIn()">Log In</ion-button>
         
  </ion-header>
  <ion-card-content>
    <ng-template #dynamic ></ng-template>
   
  </ion-card-content>
</ion-card>
</ion-content>
