<form [formGroup]="MyForm" (ngSubmit)="onSubmit()" >

<ion-item>
  <ion-label position="floating">User Email </ion-label>
  <ion-input id="user-email" type="text" formControlName="userEmail"></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">User Password </ion-label>
  <ion-input id="user-password" type="password" formControlName="userPassword"></ion-input>
</ion-item>

<ion-button type="submit"  color="success" expand="block" fill="outline" [disabled]="!MyForm.valid" (click)="onSubmit()">Submit</ion-button>

</form>
